.navbar {
  background-color: maroon;
  display: flex;
  align-items: center;
  padding: 10px;
}

.logo{
  margin-right: 300px;
}

.nav-btn {
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  margin-left: 50px;
  margin-right: 50px;
}

.nav-btn:hover{
  color:aquamarine;
}

.logout{
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  margin-left: 50px;
  margin-right: 50px;
}

.logout:hover{
  color:aquamarine;
}

button{
  background: none;
  border: none;
}
 button:hover{
  cursor: pointer;
 }